.container {
  flex: 1;
  margin: 0 0 30px;
  border-radius: 30px;
  text-align: center;
}

.table {
  width: 60%;
  margin: 0 auto 20px;
  border: 1px solid lightcoral;
  overflow: hidden;
  border-collapse: collapse;

  thead {
    background-color: var(--darkred);
    color: var(--white);
  }

  thead th {
    font-weight: bold;
  }

  tbody tr:nth-child(even) {
    background-color: var(--red);
    color: var(--white);

    a {
      color: var(--white);

      &:hover {
        color: var(--black);
      }
    }
  }

  tbody th {
    font-weight: 300;
  }
}

.row {
  font-weight: 200;
  padding: 10px 20px;
  list-style: none;
  display: flex;
  align-items: center;

  th {
    text-align: center;
  }
}

.sortButton {
  border: none;
  background: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 auto;
}

.sortIcon {
  font-size: 12px;
  margin-left: 5px;
}

.link {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--red);
  }
}

.active {
  color: var(--red);
  font-weight: bold;
  text-decoration: underline;
}
