.container {
  flex: 1;
  margin: 0 0 30px;
  border-radius: 30px;
  text-align: center;
}

.table {
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightcoral;
  border-radius: 15px;
  padding: 10px;
}

.row {
  font-weight: 200;
  padding: 10px 20px;
  list-style: none;
  display: flex;
  align-items: center;

  th {
    width: 33%;
    text-align: center;
  }
}
