.container {
  width: 700px;
  margin: 0 0 30px;
  border-radius: 30px;

  h1 {
    text-align: center;
  }
}

.list {
}

.listItem {
  padding: 10px 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    flex: 1;
  }
}
